.movieInfoContainer{
    width: 80%;
    margin: 50px auto;
}

.movieInfoCard{
    width: 100%;
    display: flex;
}
.movieInfoCardOne{
    width: 33%;
    margin-right: 20px;
    border: 1px solid #2e2e2e;
    padding: 20px;
}   
    .movieInfoCardOne > img {
        width: 100%;
        height: 100%;
    }
.movieInfoCardTwo{
    width: 66%;
}
    .movieInfoCardTwo > h2 {
        margin-bottom: 20px;
    }
    .movieInfoCardTwo > ul {
        list-style-type: none;
    }
    .movieInfoCardTwo > ul > li{
        border: 1px solid #2e2e2e;
        padding: 8px;
        margin-bottom: 8px;
    }
    .movieInfoCardTwo > ul > li:last-child{
        margin-bottom: 0;
    }



    .movieAbout{
        border: 1px solid #2e2e2e;
        margin-top: 30px;
        padding: 20px;
    }
    .movieLinks{
        display: flex;
        justify-content: center;
    }
    .movieLinks > a, .movieLinks > Link{
        margin-top: 30px;
        padding: 9px 18px;
        border-radius: 8px;
        outline: none;
        text-decoration: none;
        border: none;
        color: aliceblue;
        background-color: #f10707;
        font-size: 18px;
        cursor: pointer;
        text-align: center;
    }
    .movieLinks > a:hover, .movieLinks > Link:hover{
        background-color: #2e2e2e
    }
    .movieLinks > a {
        margin-right: 30px;
    }



@media screen and (max-width: 740px){
    .movieInfoContainer{
        width: 90%;
    }
}

@media screen and (max-width: 600px){
    .movieInfoContainer{
        width: 95%;
    }
    .movieInfoCard{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .movieInfoCardOne{
        width: 90%;
        padding: 0;
        border: none;
        margin: 0;
        height: 400px;
        margin-bottom: 40px;
    }   
        .movieInfoCardOne > img {
            border-top-right-radius: 40px;
            border-bottom-left-radius: 40px;
            
        }
    .movieInfoCardTwo{
        width: 90%;
    }
        .movieInfoCardTwo > h2 {
            margin-bottom: 20px;
            font-size: 18px;
        }
    
        .movieAbout{
            text-align: center;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }
        .movieLinks{
            justify-content: space-between;
        }
        .movieLinks > a, .movieLinks > Link{
            font-size: 12px;
        }
        .movieLinks > a:hover, .movieLinks > Link:hover{
            background-color: #2e2e2e
        }
        .movieLinks > a {
            margin-right: 0;
        }
}
