.footer{
    background-color: #2e2e2e;
    color: #f10707;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer > p{
    font-size: 14px;
}

@media screen and (max-width: 650px){
    .footer > p{
        font-size: 10px;
    }
}