.typical{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    border: 1px solid #f10707;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding: 40px 0;
}

.typical > .errorLink{
    margin-top: 30px;
    padding: 9px 18px;
    border-radius: 8px;
    outline: none;
    text-decoration: none;
    border: none;
    color: aliceblue;
    background-color: #f10707;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
}