.typical{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    border: 1px solid #f10707;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding: 40px 0;
}